 <div class="content">
        <img src="../..{{imageForHbs}}" alt=""/>
        <h3>{{title}}</h3>
        <p>description: {{description}}</p>

        <button><a href='/articles/delete/{{_id}}'>Delete</a></button>
        <button><a href='/articles/edit/{{_id}}'>edit</a></button>
    </div>    